<!-- <div class="butcon"> -->


<div class="box">
  <h3>TO DO LIST</h3>

  <div class="dropdown">
  <button id="myBtn" class="dropbtn" ng-click="showmenu = !showmenu">New Task</button>
  <new-task ng-show="showmenu"></new-task>
  </div>
    <div class="about" ui-sref="about">About</div>



<div class="stuff" ng-repeat="data in data | startFrom: (currentPage - 1) * pageSize  | limitTo: pageSize | orderBy: 'text_id'">
<ul>
    <div class="task">
      <div>
    TASK : {{data.text}}
      </div>
      <div>
        <img class="cal" src="./views/img/whitecal.png">  {{data.date | date : 'mediumDate' }}
       </div>
    </div>
</ul>


  <input class="update" type="text" name="update" ng-model="item" placeholder="Change Task">

  <button class="change" ng-click="changeData( { id : data.text_id , newtask: item }, $index )"> Change Task</button>

  <button class="delete" ng-click="deleteText(data.text_id, $index)"><img class="trash" src="./views/img/trash2.png"></buttom></ul>

</div>
<div class="pagenav"><ul class="pages" uib-pagination total-items="data.length" ng-model="currentPage" items-per-page="pageSize"></ul></div>



</div>
