<!-- <div class="butcon"> -->


<div class="box">
  <h3>TO DO LIST</h3>

<div class="sidebar">
  <div class="dropdown">
  <button id="myBtn" class="dropbtn bttns" ng-click="showmenu = !showmenu">New Task</button>
  <new-task ng-show="showmenu"></new-task>
  </div>
  <div class="bttns"><a id="login" class="login" href="/auth"><button class="button-primary">{{user}}</button></a></div>
  <div class="bttns"><a id="logout" class="logout" href="/auth/logout"><button class="button-primary">Logout</button></a></div>

  <div class="bttns about" ui-sref="about">About</div>

</div>


<div class="stuffcon">
<div class="stuff" ng-repeat="data in data | startFrom: (currentPage - 1) * pageSize  | limitTo: pageSize | orderBy: 'task_id'">
<ul>
    <div class="task">
      <div>
    TASK : {{data.task}} {{data.task_id}}
      </div>
      <div>
        <img class="cal" src="./views/img/whitecal.png">  {{data.date | date : 'mediumDate' }}
       </div>
    </div>
</ul>


  <input id="update" class="update" type="text" name="update" ng-model="item" placeholder="Change Task">

  <button id="change" class="change" ng-click="changeData( { id : data.task_id , newtask: item }, $index )"> Change Task</button>

  <button class="delete" ng-click="deleteText(data.task_id, $index)"><i class="fa fa-trash trash" aria-hidden="true"></i></buttom>

</div>
</div>
<div class="pagenav"><ul class="pages" uib-pagination total-items="data.length" ng-model="currentPage" items-per-page="pageSize"></ul></div>



</div>
