html {
  margin: 0;
}

body {
  margin: 0;
background: url("../views/img/NY.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}



.newTask {
  height: 100px;
  width: 200px;
  background-color: black;
  margin: 0;
  margin-bottom: 15px;
}
.update {
  margin-bottom: 10px;
}
.box {
  margin: auto;
  position: relative;
  height: auto;
  width: 70%;
  background-color: #30C0F4;
  top: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 2.5%;
  opacity: .8 inherit;
}

.stuff {
  margin: 5px auto 5px auto;
  position: relative;
  height: auto;
  width: 400px;
  background-color: black;
  float: left;
  padding-left: 5px;
  border-radius: 2%;
  opacity: 1;
}

.box h3 {
color: white;
text-align: center;
text-decoration: underline;
}

.dropbtn {
    height: auto;
    width: 200px;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 100px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: black;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin: 0
}

.about {
    position: absolute;
    top: 200px;
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 0;
    text-align: center;
    vertical-align: middle;

}

.task {
  height: auto;
  width: 200px;
  background-color: black;
  color: white
}

.time {
  position: absolute;
  display: block;
  height: 25px;
  width: 100%;
  background-color: black;
  color: white;
  bottom: 0;
  opacity: .8;
}
.trash {
  height: 25px;
  width: 25px;
  background-color: #30C0F4;
  cursor: pointer;
  border-radius: 25%;
}
.change {
  cursor: pointer;
}

.delete {
  position: absolute;
  background-color: #30C0F4;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  bottom: 6px;
  right: 40px;
}
.show {
  display:block;
}
