html {
  margin: 0;
}

body {
  margin: 0;
background: url("../views/img/NY.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}



.newTask {
  height: 100px;
  width: 200px;
  background-color: blue;
  margin: 0;
  margin-bottom: 15px;
  border-radius: 0 0 25px 25px;
}
.update {
  margin-bottom: 10px;
}
.box {
  margin: auto;
  position: relative;
  height: auto;
  width: 75%;
  background-color: black;
  top: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  opacity: .8
}

.stuff {
  margin: 5px auto 5px auto;
  position: relative;
  height: auto;
  width: 400px;
  background-color: blue;
  float: left;
  padding-left: 5px;
}

.box h3 {
color: white;
text-align: center;
}

.dropbtn {
    height: auto;
    width: 200px;
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 200px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: blue;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin: 0
}

.task {
  height: auto;
  width: 200px;
  background-color: black;
  color: white
}

.time {
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  background-color: red;
  color: white;
}
.trash {
  height: 25px;
  width: 25px;
  background-color: blue;
}

.delete {
  background-color: blue;
  border: none;
  bottom: -10px;
}
.show {
  display:block;
}
