html {
  margin: 0;
}

body {
margin: 0;
background: url("https://source.unsplash.com/daily?water") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.pagenav {
  position: relative;
  margin: 0 auto;
  bottom: 60px;

}

.pages {
  position: relative;
  box-shadow: 10px 10px 5px grey;

}

.newTask {
  height: 80px;
  width: 200px;
  position: absolute;
  background-color: grey;
  margin-bottom: 15px;
  text-shadow: 10px 10px 5px black;
}
.update {
  margin-bottom: 10px;
}

.cal {
  height: 15x;
  width: 15px;
  margin-right: 5px;
}

h3 {
  text-shadow: 10px 10px 5px black;
}

.box {
  margin: auto;
  position: relative;
  height: 800px;
  width: 70%;
  background-color: white;
  background: url("../views/img/smoke.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
  top: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 2.5%;
  opacity: .8 inherit;
  box-shadow: 10px 10px 5px black
}

.stuff {
  margin: 10px auto 10px auto;
  position: relative;
  height: auto;
  width: 400px;
  background-color: black;
  top: -100px;
  float: left;
  padding-left: 5px;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 10px 10px 5px white;
}

.box h3 {
color: black;
text-align: center;
text-decoration: underline;
}

.dropbtn {
    height: auto;
    width: 200px;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0;
    margin-top: 100px;
    box-shadow: 10px 10px 5px grey;

}

.dropbtn:hover, .dropbtn:focus {
    background-color: black;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin: 0;
    text-shadow: 10px 10px 5px black;
}

.about {
    position: absolute;
    top: 300px;
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 0;
    text-align: center;
    vertical-align: middle;
    box-shadow: 10px 10px 5px grey;

}

.abouttext {
  height: 150px;
  width: 450px;
  background-color: black;
  position: absolute;
  top: 25px;
  left: 100px;
  border-radius: 15px;
}

.abouttext h1 {
  margin: 10px;
  color: white;
  text-decoration: underline;
}

.task {
  height: auto;
  width: 200px;
  background-color: black;
  color: white
}

.time {
  position: absolute;
  display: block;
  height: 25px;
  width: 100%;
  background-color: black;
  color: white;
  bottom: 0;
  opacity: .8;
}
.trash {
  height: 10px;
  width: 45px;
  background-color: white;
  cursor: pointer;
  border-radius: 20%;
  margin: auto;
  border-width: 2px;
  bottom: 5px
}

i {
  margin: auto;
  color: black;
  font-size: 50px
}

.change {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

.delete {
  height: 25px;
  position: absolute;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  right: 55px;
  margin: auto;
}
.show {
  display:block;
}
